.chat-main
  .chat-main__group
    .chat-main__left-box
      %h2.current-group
        = @group.name
      %ul.chat-main__left-box-member
        Menber:
        - @group.users.each do |user|
          = user.name
    %a
    = link_to "#" do
      .chat-main__group-edit-btn
        = link_to "Edit", edit_group_path(params[:group_id]), method: :get
  .chat-main__message
    = render @messages
  .chat-main__form
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
 

 
